
.fade-in-grid { animation: fadeIn 500ms ease both; }

.section-divider {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.info-field {
  margin-left: 1rem;
}

.info-field span {
  font-size: 1.2rem;
  font-weight: bold;
}

.info-field p {
  font-size: 1rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-left: 1rem;
}

.button-container button {
  padding: 0.5rem 1rem;
  border: #222222 solid 1px;
  border-radius: 5px;
}

.favorite-container {
  flex: 1;
  margin-left: 20%;
}

.favorite-container h2 {
  margin-bottom: 0.5rem;
}

.favorite-container .recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto auto 2rem 0;
}

.favorite-container a {
  color: var(--color3);
}
